<div class="lastestnews">
    <div class="container ">
     <div class="text-center">
        <h4 class="text-secondary mb-2">Lastset News</h4>
         <h3 class="mb-4">Blog Posts</h3>
     </div>
     <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 sec">
            <div class="card">
                <img src="assets/images/p1.jpg">
            </div>
            <div class="text-left">
                <h6 class="text-primary py-2">Design</h6>
                <h5>Hello world!</h5>
                <ul class="mb-3 text-left list-unstyled">
                 <li>
                  <i class="fa fa-user"></i>
                  by
                  <a>MS_SOUQ</a>
                 </li>
                 <li>
                  <p>
                    <i class="fa fa-clock"></i>
                   August 2, 2021
                  </p>
                 </li>
                </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 sec">
            <div class="card">
                <img src="assets/images/p2.jpg">
            </div>
            <div class="text-left">
                <h6 class="text-primary py-2">Product</h6>
                <h5>We create successful digital products.</h5>
                <ul class="mb-3 text-left list-unstyled">
                  <li><i class="fa fa-user"></i>
                     by
                     <a>MS_SOUQ</a>
                  </li>
                  <li>
                   <p>
                    <i class="fa fa-clock"></i>
                     August 2, 2021
                   </p>
                  </li>
                 </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 sec">
            <div class="card">
                <img src="assets/images/p3.jpg">
            </div>
            <div class="text-left">
                <h6 class="text-primary  py-2">Insepritio</h6>
                <h5>We create successful digital products.</h5>
                <ul class="mb-3 text-left list-unstyled">
                  <li><i class="fa fa-user"></i>
                     by
                     <a>MS_SOUQ</a>
                  </li>
                  <li>
                   <p>
                    <i class="fa fa-clock"></i>
                    August 2, 2021
                   </p>
                  </li>
                 </ul>
            </div>
          </div>
        </div>
      </div>
     </div>
</div>