<div class="aboutus d-flex justify-content-center align-items-center">
    <div class="container py-2">
     <div class="text-center">
        <h4 class="text-secondary mb-2">{{'About'|translate}}</h4>
         <h3 class="mb-lg-4">{{'Growyourbusiness'|translate}}<span> </span>  </h3>
         <p class="  mt-3 mx-auto">
            {{'p2'|translate}}
            <b> </b>, 
        </p>
         <a class="btn btn-primary main-btn mt-4"href="#" style="display: none;">Read More</a>
     </div>
    </div>
 </div>