<div class="homeservices">
  <div class="container py-2">
    <div class="text-center">
      <h4 class="text-secondary mb-2">{{'reasonWhy'|translate}}</h4>
      <h3 class="mb-5">{{'analysis'|translate}}<br /></h3>
    </div>
    <div class="row">
      <div class="feature col-lg-4">
        <div class="icon">
          <h4><i class="fa fa-laptop"></i> {{'language'|translate}}</h4>
          <p>
            {{'customizelang'|translate}}
          </p>
        </div>
      </div>
      <div class="feature col-lg-4">
        <div class="icon">
          <h4><i class="fa me-2 fa-th-large"></i>{{'add'|translate}}</h4>
          <p>
            {{'addproduct'|translate}}
          </p>
        </div>
      </div>
      <div class="feature col-lg-4">
        <div class="icon">
          <h4><i class="fa fa-line-chart"></i>{{'selling'|translate}}</h4>
          <p>
            {{'startselling'|translate}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
