<app-header> </app-header>
<div [ngClass]="sectionClass">
    <app-home-intro></app-home-intro>
</div>
<div [ngClass]="sectionClass">
    <app-section2></app-section2>
</div>
<div [ngClass]="sectionClass">
    <app-section3></app-section3>
</div>
<div [ngClass]="sectionClass">
    <app-section4></app-section4>
</div>
<div [ngClass]="sectionClass">
    <app-section5></app-section5>
</div>
<div [ngClass]="sectionClass">
    <app-section6></app-section6>
</div>
<div [ngClass]="sectionClass">
    <app-section8></app-section8>
</div>
<app-footer></app-footer>
